<h2>Por pais</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-inputs (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar por pais">
        </app-pais-inputs>
    </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
    <li [routerLink]="['/pais',pais.cca2]" *ngFor="let pais of paisesSugeridos"
        class="list-group-item list-group-item-action  ">
        {{pais.name.common}}
    </li>
    <li (click)="buscarSugerencia(termino)" class="list-group-item list-group-item-action  ">
        Buscar "{{termino}}"
    </li>

</ul>






<hr>

<div *ngIf="error_peticion" class="alert alert-danger">
    No se encontro el termino {{ termino }}
</div>


<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>